Jinja2==3.1.2
Markdown==3.4.1
orbax==0.0.23
recommonmark==0.7.1
rich==13.0.0
session-info==1.0.0
six==1.16.0
Sphinx==7.1.2
sphinx-autobuild==2021.3.14
sphinx-markdown-tables==0.0.17
sphinx-rtd-theme==0.2.4
sphinx-basic-ng==1.0.0b2
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-bibtex==2.6.2
furo==2024.1.29
anndata>=0.8.0
numpy>=1.23.5
scipy>=1.10.1
joblib>=1.2.0
pandas==2.0.0
scvi-tools==0.19.0
scArches==0.5.9
tensorflow>=2.13.0
scanpy>=1.9.1
mudata>=0.2.3
tqdm>=4.65.0
statsmodels>=0.14.0
PyComplexHeatmap>=1.6.4
lightgbm
scikit-learn
optax==0.1.5